.app {
    /* --blue_light: #f8fff6;
    --green_transparent: #3bff0526; */

    /* tennis colors */
    --court_blue: #3B8ADF;
    --ball_green: #CCFF00;
    --blue_light: #a0e9fd;
    --salmon: #FF8E72;

    /* actual color palette */
    --primary_bg_color: var(--court_blue);
    --second_bg_color: var(--salmon);
    --home_slash_color: var(--ball_green);
    --logo_color: var(--ball_green);
    --nav_text_color: var(--blue_light);
    --hero_img_color: black;
    --hero_text_color: black;
    --schedule_btn_alt_color: var(--blue_light);
    --schedule_bg_color: #5a9ade;
    --checkbox_bg_color: #31a3ff;

    height: 100vh;
    font-family: 'Montserrat Alternates';
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.page {
    padding-top: 20vh;
    min-height: 73vh;
    background-color: var(--primary_bg_color);
}