.calendar {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 1em;
    padding-top: 1vw;
    margin: 1vw 0;

    .calendar-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2vw;
        padding-bottom: 1vh;
        border-bottom: 2px solid black;
    }

    .calendar-days {
        display: flex;
        justify-content: space-between;
    }

    .calendar-days .day:nth-child(-n+6) {
        border-right: 2px solid black;
    }

    .day {
        width: 100%;
        box-sizing: border-box;
        text-align: center;

        .time-block {
            border-top: 1px solid black;
            font-size: .6em;
            text-align: left;
            padding-left: 1em;
            height: 5vh;
        }
    }
}