.footer {
    height: fit-content;
    padding: .5em 1em;
    background-color: var(--second_bg_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    font-size: min(calc(.5vw + 1vh), 1em);
}

.footer-left a {
    color: black;
}

.footer-right {
    display: flex;
    gap: 10px;
}

.footer-right img {
    width: calc(3vw + 3vh);
    max-width: 60px;
}

.footer-right img:hover {
    cursor: pointer;
}