nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    background-color: black;
}

nav img {
    width: 180px;
    padding: 20px;
}

.nav-links {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.nav-link {
    text-decoration: none;
    line-height: 50%;
    padding: 20px;
    border-radius: 25px;
    background-color: green;
    color: white;
    font-weight: 600;
}

.nav-link:hover {
    cursor: pointer;
}

.nav-link:active {
    background-color: greenyellow;
}